.kitchen_button{
    width: 50%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border:none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: black;

}
.kitchen_button:hover{
    background: rgb(36, 153, 171);
}
.kitchen_button:active{
    transform: scale(0.98);
}