.page-wrapper {
  display: flex;
  flex-direction: column;
}


.checkout-basket-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ff6347;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.checkout-wrapper,
.stripe-form {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

@media (min-width: 1024px) {

  .checkout-wrapper,
  .stripe-form {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.checkout-basket-table {
  border-collapse: collapse;
  width: auto;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
}

.checkout-basket-table th,
.checkout-basket-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.checkout-basket-table th {
  text-align: center;
  background-color: #f2f2f2;
}

.checkout-basket-table td.item-price {
  font-weight: bold;
  text-align: center;
}

.total-checkout-price-container {
  text-align: right;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-row>label {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.form-row>input {
  display: inline-block;
  width: 60%;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  margin-top: 1rem;
  border: none;
  background-color: #ff6347;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-button:hover {
  background-color: #cc3227;
}

* {
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
}