
.infoBoxContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoBox {
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    margin: 20px;
    padding: 20%;
    border-radius: 10px;

  }

  .title{
    margin-top: -8.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 36px;
  }

  .button{
    width: 71%;
    margin-top: 50px;
    margin-left: 45px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    background: black;
}

.description{
    margin-top: 400px;
}