.menu_button {
    border: none;
    background-color: #ff6347;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.menu_button:hover {
    background-color: #cc3227;
}

.menu_table{
    display: block;
    margin-left: 15%;
    margin-right: 35%;
    width: 80%;
}