{% extends 'base.html' %}

{% block content %}
  <h1>All Orders</h1>
  <table>
    <thead>
      <tr>
        <th>Order Time</th>
        <th>Table Number</th>
        <th>Items</th>
        <th>Confirmed</th>
        <th>Order Ready</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.orderTime }}</td>
          <td>{{ order.tableNumber }}</td>
          <td>{{ order.items }}</td>
          <td>{{ order.confirmed }}</td>
          <td>{{ order.orderReady }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}